ago-16/typescript-angularjs-nodejs/server/.idea/
ago-16/typescript-angularjs-nodejs/server/src/test/
ago-16/typescript-angularjs-nodejs/server/target/
*.iml
*.pid
*.port

# Java
*.jar
*.original
*.class

# Intellij
.idea/
*.iws
*.iml

# Gradle
.gradle
build/