<div layout="row" layout-fill>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop
            md-whiteframe="4">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-list-item class="md-2-line">
                    <img ng-src="{{ 'https://www.gravatar.com/avatar/' + ctrl.user.gravatarHash + '?d=identicon' }}" class="md-avatar" alt="{{ ctrl.user.name }}" />
                    <div class="md-list-item-text">
                        <h3>{{ ctrl.user.name }}</h3>
                        <p>{{ ctrl.user.email }}</p>
                    </div>
                </md-list-item>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list-item ng-repeat="room in ctrl.rooms" ng-click="ctrl.onRoomSelected(room)" ng-style="ctrl.selectedRoom == room ? { 'background-color': 'rgba(158,158,158,0.2)' } : {}">
                <md-icon md-svg-icon="communication:message"></md-icon>
                <p>{{ room.name }}</p>
            </md-list-item>
        </md-content>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar>
            <h1 class="md-toolbar-tools">{{ ctrl.selectedRoom.name }}</h1>
        </md-toolbar>
        <chat-room-window room="ctrl.selectedRoom" flex></chat-room-window>
    </div>
</div>

