<div layout="row" layout-fill>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop
            md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools">ZBRA CHAT</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list-item ng-repeat="room in ctrl.chatRooms" ng-click="ctrl.onRoomSelected(room)">
                <md-icon md-svg-icon="communication:message"></md-icon>
                <p>{{ room.name }}</p>
            </md-list-item>
        </md-content>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar>
            <h1 class="md-toolbar-tools">{{ ctrl.selectedRoom.name }}</h1>
        </md-toolbar>
        <chat-room-window room="ctrl.selectedRoom"></chat-room-window>
    </div>
</div>

